<%- include ('userPartials/userHeader.ejs') %>

<div class="login-register-area pt-80 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 offset-md-1">
                <div class="login-register-wrap mr-70">
                    <h3><i class="fa fa-user-o"></i> Forgot Password</h3>
                    <div class="login-register-form">
                        <% if(locals.err){ %>
                            <p class="text-danger"><%= locals.err %></p>
                        <% } %>
                        <% if(locals.success){ %>
                            <p class="text" style="color: green;"><%= locals.success %></p>
                        <% } %>
                        <p id="err" class="text-danger"></p>
                        <form id="loginForm" action="/forgotPassword" method="post">
                            <div class="sin-login-register">
                                <label>Email address</label>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class="login-register-btn-remember">
                                <div class="login-register-btn">
                                    <button type="submit">Send Email</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                    <a href="/signup">Not a user yet? Register!</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include ('userPartials/userFooter.ejs') %>