<!doctype html>
<%- include('userPartials/userHeader.ejs')  %>

        <div class="header-small-mobile section-padding-1">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6">
                        <div class="mobile-logo logo-width">
                            <a href="index.html">
                                <img alt="" src="public/userAssets/images/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <!-- <div class="col-6">
                        <div class="mobile-header-right-wrap">
                            <div class="header-right-wrap header-right-flex">
                                <div class="same-style cart-wrap">
                                    <a href="#" class="cart-active">
                                        <i class="dlicon shopping_bag-20"></i>
                                        <span class="count-style">02</span>
                                    </a>
                                </div>
                                <div class="same-style header-off-canvas">
                                    <a class="header-aside-button" href="#">
                                        <i class="dlicon ui-3_menu-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- search start -->
        <div class="search-content-wrap main-search-active">
            <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
            <div class="search-content">
                <p>Start typing and press Enter to search</p>
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search">
                    <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                </form>
            </div>
        </div>

        <!-- aside start -->
        <div class="header-aside-active">
            <div class="header-aside-wrap">
                <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
                <div class="header-aside-content">
                    <div class="mobile-menu-area">
                        <div class="mobile-search">
                            <form class="search-form" action="#">
                                <input type="text" placeholder="Search entire store…">
                                <button class="button-search"><i class="dlicon ui-1_zoom"></i></button>
                            </form>
                        </div>
                        <div class="mobile-menu-wrap">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li class="menu-item-has-children"><a href="index.html">Home</a>

                                        </li>
                                        <li class="menu-item-has-children "><a href="shop-fullwide.html">shop</a>
                                            <ul class="dropdown">
                                                <li class="menu-item-has-children"><a href="#">Shop Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="shop-fullwide.html">Shop Fullwidth</a></li>
                                                        <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                                                        <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                                        <li><a href="shop-3-col.html">Shop 03 Columns</a></li>
                                                        <li><a href="shop-2-col.html">Shop 02 Columns</a></li>
                                                        <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                        <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Product Layout</a>
                                                    <ul class="dropdown">
                                                        <li><a href="product-details.html">Single 01</a></li>
                                                        <li><a href="product-details-2.html">Single 02</a></li>
                                                        <li><a href="product-details-group.html">Grouped</a></li>
                                                        <li><a href="product-details-sticky.html">Sticky Info</a></li>
                                                        <li><a href="product-details-configurable.html">Configurable</a>
                                                        </li>
                                                        <li><a href="product-details-thumbnail.html">Thumbnail</a></li>
                                                        <li><a href="product-details-video.html">Video</a></li>
                                                        <li><a href="product-details-affiliate.html">Affiliate</a></li>
                                                        <li><a href="product-details-sidebar.html">Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item-has-children"><a href="#">Shop Pages </a>
                                                    <ul class="dropdown">
                                                        <li><a href="my-account.html">My Account</a></li>
                                                        <li><a href="checkout.html">Check Out</a></li>
                                                        <li><a href="cart.html">Shopping Cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                                        <li><a href="compare.html">Compare</a></li>
                                                        <li><a href="login-register.html">signup</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children "><a
                                                href="shop-collection-1.html">Collection</a>
                                            <ul class="dropdown">
                                                <li><a href="shop-collection-1.html">Shop Collection 01</a></li>
                                                <li><a href="shop-collection-2.html">Shop Collection 02</a></li>
                                                <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                        </div>
                        <div class="mobile-curr-lang-wrap">
                            <div class="single-mobile-curr-lang">
                                <a class="mobile-account-active" href="#">My Account <i
                                        class="fa fa-angle-down"></i></a>
                                <div class="lang-curr-dropdown account-dropdown-active">
                                    <ul>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Create Account</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-aside-menu">
                        <nav>
                            <ul>
                                <li><a href="#">About InStyle Soles</a></li>
                                <li><a href="#">Help Center</a></li>
                                <li><a href="#">Collection</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">New Look</a></li>
                            </ul>
                        </nav>
                    </div>
                    <img src="public/userAssets/images/icon-img/payments.png" alt="payment">
                    <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum
                        justo dapibus.</p>
                    <div class="aside-contact-info">
                        <ul>
                            <li><i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 - 19:00</li>
                            <li><i class="dlicon ui-1_email-84"></i>instylesoles@gmail.com</li>
                            <li><i class="dlicon tech-2_rotate"></i>(+91) 91887 69 267</li>
                            <li><i class="dlicon ui-1_home-minimal"></i>Edathurithikaran Holding, Ernakulam, Kerala</li>
                        </ul>
                    </div>
                    <div class="social-icon-style mb-25">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="behance" href="#"><i class="fa fa-behance"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2024 <a href="/">InStyle Soles.</a> All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area section-padding-1 bg-gray">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h3 style="letter-spacing:2px; padding-top:6px; font-size:28px; font-weight: 650;">Sign<span
                                style="margin-left:3px;">up</span></h3>
                    </div>
                    <ul>
                        <li>
                            <a href="/">Home </a>
                        </li>
                        <li><span> > </span></li>
                        <li class="active">Signup </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-register-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="login-register-wrap register-wrap">
                            <h3> <i class="fa fa-user-o"></i> Signup</h3>
                            <div class="login-register-form">
                                <form>
                                    <div class="sin-login-register">
                                        <label>First Name</label>
                                        <input id='fnameId' type="text" name="first-name">
                                        <p id="fnameErr" style="color:red;"></p>
                                    </div>
                                    <div class="sin-login-register">
                                        <label>Last Name</label>
                                        <input id="lnameId" type="text" name="last-name">
                                        <p id="lnameErr" style="color:red;"></p>
                                    </div>
                                    <div class="sin-login-register">
                                        <label>Email address </label>
                                        <input id="emailId" type="email" name="email">
                                        <p id="emailErr" style="color:red;"></p>
                                    </div>
                                    <div class="sin-login-register">
                                        <label>Mobile Number</label>
                                        <input id="mobId" type="number" name="number">
                                        <p id="mobErr" style="color:red;"></p>
                                    </div>
                                    <div style="position: relative;" class="sin-login-register">
                                        <label>Enter New Password </label>
                                        <input id="pwdId" type="password" name="password">
                                        <i id="togglePwd" class="fa fa-eye"
                                            onclick="togglePassword('pwdId', 'togglePwd')"
                                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; vertical-align: middle; top: 2.8rem;"></i>
                                        <p id="pwdErr" style="color:red;"></p>
                                    </div>
                                    <div style="position: relative;" class="sin-login-register">
                                        <label>Confirm Password </label>
                                        <input id="cPwdId" type="password" name="password">
                                        <i id="toggleCPwd" class="fa fa-eye"
                                            onclick="togglePassword('cPwdId', 'toggleCPwd')"
                                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; vertical-align: middle; top: 2.8rem;"></i>
                                        <p id="cPwdErr" style="color:red;"></p>
                                    </div>
                                    <p>By clicking Sign Up, you agree to our Terms, Privacy Policy. You may receive SMS
                                        notifications from us and can opt out at any time.</p>
                                    <div class="login-register-btn">
                                        <button type="button" onclick="signupBtn()">Signup</button>
                                    </div>
                                    <!-- <p id="successMsg" style="color:green; display:none; ">Submitted Successfully</p> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<%- include('userPartials/userFooter.ejs') %>
        <div class="support-lists">
            <ul>
                <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
                <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
                <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
            </ul>
        </div>

    </div>

    <script>
        const fname = document.getElementById('fnameId')
        const lname = document.getElementById('lnameId')
        const mob = document.getElementById('mobId')
        const email = document.getElementById('emailId')
        const pwd = document.getElementById('pwdId')
        const cPwd = document.getElementById('cPwdId')

        const fnameErr = document.getElementById('fnameErr')
        const lnameErr = document.getElementById('lnameErr')
        const mobErr = document.getElementById('mobErr')
        const emailErr = document.getElementById('emailErr')
        const pwdErr = document.getElementById('pwdErr')
        const cPwdErr = document.getElementById('cPwdErr')



        function fnameValidate(value) {

            const valuePattern = /^[a-zA-Z]+$/
            if (value.trim() === '') {
                fnameErr.innerHTML = 'Please Enter Firstname'

            } else if (!valuePattern.test(value)) {
                fnameErr.innerHTML = 'Name should only Alphabets '
            }
            else {
                fnameErr.innerHTML = ''
            }
        }

        document.getElementById('fnameId').addEventListener('blur', () => {
            fnameValidate(fname.value)
        })


        function lnameValidate(value) {

            const valuePattern = /^[a-zA-Z]+$/
            if (value.trim() === '') {
                lnameErr.innerHTML = 'Please Enter Last Name'

            } else if (!valuePattern.test(value)) {
                lnameErr.innerHTML = 'Name should only Alphabets'
            }

            else {
                lnameErr.innerHTML = ''
            }
        }

        document.getElementById('lnameId').addEventListener('blur', () => {
            lnameValidate(lname.value)
        })

        function mobValidate(value) {

            const mobPattern = /^(?!0000000000|1111111111|1234567890)\d{10}$/

            if (value.trim() === '') {
                mobErr.innerHTML = 'Please Enter Mobile Number'

            } else if (!mobPattern.test(value)) {
                mobErr.innerHTML = 'Enter Digits Only'

            } else if (value.length != 10) {
                mobErr.innerHTML = 'Enter 10 Digits'
            }

            else {
                mobErr.innerHTML = ''
            }
        }

        document.getElementById('mobId').addEventListener('blur', () => {
            mobValidate(mob.value)
        })


        function emailValidate(value) {

            const emailPattern = /^([a-zA-Z0-9._-]+)@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/
            if (value.trim() === '') {
                emailErr.innerHTML = 'Please Enter E-mail Id '
            } else if (!emailPattern.test(value)) {
                emailErr.innerHTML = 'Invalid Format!'
            }

            else {
                emailErr.innerHTML = ''
            }
        }

        document.getElementById('emailId').addEventListener('blur', () => {
            emailValidate(email.value)
        })

        function pwdValidate(value) {

            const pwdPattern = /^(?=.*[a-zA-Z])(?=.*\d).+$/
            if (value.trim() === '') {
                pwdErr.innerHTML = 'Please Enter Password'
            } else if (!pwdPattern.test(value)) {
                pwdErr.innerHTML = 'Password must contain numbers & alphabets.Special Characters not allowed'
            } else if (value.length < 7) {
                pwdErr.innerHTML = 'Enter Atleast 6 characters'
            } else {
                pwdErr.innerHTML = ''
            }
        }
        document.getElementById('pwdId').addEventListener('blur', () => {
            pwdValidate(pwd.value)
        })


        function cPwdValidate(value) {

            const pwdPattern = /^(?=.*[a-zA-Z])(?=.*\d).+$/
            if (value.trim() === '') {
                cPwdErr.innerHTML = 'Confirm Your Password '
            } else if (!pwdPattern.test(value)) {
                cPwdErr.innerHTML = 'Password must contain numbers & alphabets.Special Characters not allowed'
            } else if (value.length < 7) {
                cPwdErr.innerHTML = 'Enter Atleast 6 characters'
            } else if (pwd.value !== value) {
                cPwdErr.innerHTML = 'Your Password does not match'
            }
            else {
                cPwdErr.innerHTML = ''
            }
        }
        document.getElementById('cPwdId').addEventListener('blur', () => {
            cPwdValidate(cPwd.value)
        })





        function fetchSignup(fname, lname, mob, email, pwd, cPwd) {
            console.log('enterd fetchSignup');
            console.log(pwd, '   ', cPwd);
            fetch('/signup', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    fname: fname.value,
                    lname: lname.value,
                    mob: mob.value, email: email.value, pwd: pwd.value, cPwd: cPwd.value
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Submitted Successfully',
                            width: 450,
                            height: 50,
                            icon: 'success',
                            html: "<h4 style='color:green; font-family:roboto'>Redirecting to OTP Page...</h4>",
                            timer: 2300,
                            timerProgressBar: true,
                            didOpen: () => {
                              Swal.showLoading();
                              const timer = Swal.getPopup().querySelector("b");
                              timerInterval = setInterval(() => {
                                timer.textContent = `${Swal.getTimerLeft()}`;
                              }, 100);
                            },
                            willClose: () => {
                              clearInterval(timerInterval);
                            },
                            showClass: {
                              popup: `
                                animate__animated
                                animate__fadeInUp
                                animate__faster
                              `
                            },
                            hideClass: {
                              popup: `
                                animate__animated
                                animate__fadeOutDown
                                animate__faster
                                 `
                            }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log("I was closed by the timer");
  }
                        }).then(() => {
                            window.location.href = '/otp'; 
                        });
                    } else {
                        console.log("Submission failed:", data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function signupBtn() {
            console.log('enterd signup');
            fnameValidate(fname.value)
            lnameValidate(lname.value)
            mobValidate(mob.value)
            emailValidate(email.value)
            pwdValidate(pwd.value)
            cPwdValidate(cPwd.value)

            if (fnameErr.innerHTML === '' && lnameErr.innerHTML === '' && mobErr.innerHTML === '' && emailErr.innerHTML === '' && pwdErr.innerHTML === '' && cPwdErr.innerHTML === '') {
                console.log("fetrcg");

                fetchSignup(fname, lname, mob, email, pwd, cPwd)
                console.log(' after fetchSignup');
            }

        }


        function togglePassword(inputId, toggleId) {
            const passwordInput = document.getElementById(inputId);
            const toggleIcon = document.getElementById(toggleId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            }
        }

    </script>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="public/userAssets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="public/userAssets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="public/userAssets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="public/userAssets/js/vendor/bootstrap.min.js"></script>
    <script src="public/userAssets/js/plugins/owl-carousel.js"></script>
    <script src="public/userAssets/js/plugins/slick.js"></script>
    <script src="public/userAssets/js/plugins/jarallax.min.js"></script>
    <script src="public/userAssets/js/plugins/countdown.js"></script>
    <script src="public/userAssets/js/plugins/magnific-popup.js"></script>
    <script src="public/userAssets/js/plugins/instafeed.js"></script>
    <script src="public/userAssets/js/plugins/tilt.js"></script>
    <script src="public/userAssets/js/plugins/images-loaded.js"></script>
    <script src="public/userAssets/js/plugins/isotope.js"></script>
    <script src="public/userAssets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="public/userAssets/js/plugins/fullpage.js"></script>
    <script src="public/userAssets/js/plugins/jquery-ui.js"></script>
    <script src="public/userAssets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="public/userAssets/js/plugins/easyzoom.js"></script>
    <script src="public/userAssets/js/plugins/resizesensor.js"></script>
    <script src="public/userAssets/js/plugins/sticky-sidebar.js"></script>
    <script src="public/userAssets/js/plugins/scrollup.js"></script>
    <script src="public/userAssets/js/plugins/select2.min.js"></script>
    <script src="public/userAssets/js/plugins/cookie.js"></script>
    <script src="public/userAssets/js/plugins/bpopup.js"></script>
    <script src="public/userAssets/js/plugins/wow.js"></script>
    <script src="public/userAssets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="public/userAssets/js/main.js"></script>
    <!-- CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>


<!-- Mirrored from template.hasthemes.com/InStyle Soles/toro/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:02 GMT -->

</html>